html {
  font-family: Cabin, sans-serif;
}

h1 {
  color: #235268;
}

.masthead,
.contact,
footer {
  background-color: #e0f3f7;
}

nav {
  position: relative;
  z-index: 2;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #202d2e;
  border-radius: 3px;
}

.about {
  position: relative;
}

.about-content {
  background-color: #a3cda5;
}

.btn {
  background-color: #235268;
  border-color: #235268;
  color: #fff;
}

.btn:hover {
  background-color: #5aa8c6;
  border-color: #5aa8c6;
  color: #fff;
}

.contact {
  color: #000;
  list-style: none;
}

@media only screen and (min-width: 35em) {

  .about-content {
    bottom: 50px;
    left: 50px;
    position: absolute;
    width: 100%;

    background-color: transparent;
  }

}
